.show {
    display: block;
}

.noshow {
    display: none;
}


h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}
#homeQuotes{
    text-align: center;
}
.contactBox {
    width: 250px;
}

.contactFunctions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.contactText1 {
    color: #008036;
}

.contactText2 {
}
#panowork {
    width:100%;
}

#contactBackground {
    background-image: url(../res/panowork.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
